<div class="card text-center">
  <div class="card-body">
    <h1 class="card-title">{{user.first_name}} {{user.last_name}}</h1>
    <p class="card-text">@{{user.username}}</p>
    <div class="row">
      <div class="col-md-4 d-flex align-items-center justify-content-center">
        <img src="/img/folder.svg" alt="Folders" style="width: 50px; height: 50px; margin-right: 15px;">
        <p class="mb-0">{{folders.folders_count}}<br>Total folders</p>
      </div>
      <div class="col-md-4 d-flex align-items-center justify-content-center">
        <img src="/img/book-open-text.svg" alt="Sets" style="width: 50px; height: 50px; margin-right: 15px;">
        <p class="mb-0">{{sets.sets_count}}<br>Total sets</p>
      </div>
      <div class="col-md-4 d-flex align-items-center justify-content-center">
        <img src="/img/cards.svg" alt="Cards" style="width: 50px; height: 50px; margin-right: 15px;">
        <p class="mb-0">{{cards.cards_count}}<br>Total cards</p>
      </div>
    </div>
  </div>
</div>